# Data preprocessing
### Input:

In [1]:
import os
import sys

def find_import(path='.', prevpath=None):
    if path == prevpath:
        return ''
    path = os.path.abspath(path)
    cfgfile = os.path.join(path, 'tokens.py')
    if os.path.exists(cfgfile):
        return cfgfile
    return find_import(os.path.dirname(path), path)

module_path = find_import()
projdir = os.path.dirname(module_path)
if projdir not in sys.path:
    sys.path.append(projdir)

from tokens import sql_config 

host = sql_config['host']
database='roomekbot$offers'
user = sql_config['user']
password = sql_config['password']
sql_query = "select * from offers where city = 'Warszawa' and business_type = 'rent'"

### Import database

In [2]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host=host, database=database, user=user, password=password)
    cursor = connection.cursor()
    cursor.execute(sql_query)
    records = cursor.fetchall()
    
    sql_query = "describe offers"
    cursor = connection.cursor()
    cursor.execute(sql_query)
    titles = cursor.fetchall()
    titles = [x[0] for x in titles]
    
except Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if (connection.is_connected()):
        connection.close()
        cursor.close()

### Create dataframe

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(data=records, columns=titles)
df.head()

,offer_url,city,housing_type,business_type,offer_name,offer_thumbnail_url,price,total_price,street,district,...,terrace,balcony,separate_kitchen,basement,virtual_walk,two_level_apartment,connecting_room,pet_friendly,creation_time,modification_time
0,https://www.olx.pl/oferta/2-niezalezne-pokoje-...,Warszawa,apartment,rent,"2 NIEZALEŻNE pokoje, NOWE, Kasprzaka 29c, BLIS...",https://apollo-ireland.akamaized.net:443/v1/fi...,2250,2260.0,Kasprzaka,Wola,...,NaN,1.0,None,NaN,None,None,NaN,NaN,2019-12-22 21:40:13,None
1,https://www.olx.pl/oferta/3-pokojowe-na-aniele...,Warszawa,apartment,rent,3 pokojowe na Anielewicza,https://apollo-ireland.akamaized.net:443/v1/fi...,2500,3000.0,None,Śródmieście,...,NaN,NaN,None,NaN,None,None,NaN,NaN,2019-12-22 21:40:34,None
2,https://www.olx.pl/oferta/aktualne-ekskluzywny...,Warszawa,apartment,rent,AKTUALNE Ekskluzywny Apartament w Centrum Wars...,https://apollo-ireland.akamaized.net:443/v1/fi...,3500,4000.0,Kolejowa,Wola,...,1.0,1.0,None,1.0,None,None,NaN,NaN,2019-12-22 21:40:37,None
3,https://www.olx.pl/oferta/apartament-2-pokoje-...,Warszawa,apartment,rent,Apartament 2 pokoje 33m Grzybowska Rondo Daszy...,https://apollo-ireland.akamaized.net:443/v1/fi...,2520,2950.0,None,Śródmieście,...,NaN,NaN,None,NaN,None,None,NaN,NaN,2019-12-22 21:40:34,None
4,https://www.olx.pl/oferta/apartament-2-pokojow...,Warszawa,apartment,rent,"Apartament 2-pokojowy, 54 m2, taras 20 m2, gar...",https://apollo-ireland.akamaized.net:443/v1/fi...,2350,2360.0,Glebocka,Białołęka,...,1.0,NaN,None,NaN,None,None,NaN,NaN,2019-12-22 21:40:34,None

### Get weights from SQL

In [4]:
try:
    connection = mysql.connector.connect(host=host, database=database, user=user, password=password)
    cursor = connection.cursor(buffered=True, dictionary=True)
    sql_query = "select * from weights;"
    cursor.execute(sql_query)
    weights = cursor.fetchone()
    weights = pd.DataFrame.from_dict(weights, orient='index')
    
except Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if (connection.is_connected()):
        connection.close()
        cursor.close()
        
weights.drop(weights.tail(2).index,inplace=True) #drops modification_time and creation_time rows
weights.columns = ['Weight']
weights

                          Weight
total_price                    1
date_of_the_offer            0.7
offer_from                   0.3
apartment_level              0.3
furniture                    0.3
type_of_building            0.01
area                         0.5
amount_of_rooms              0.1
additional_rent             0.01
price_per_m2                 0.2
type_of_market               0.1
security_deposit            0.01
building_material           0.01
windows                     0.05
heating                     0.05
building_year               0.03
fit_out                      0.1
ready_from                   0.1
type_of_ownership           0.01
rental_for_students         0.01
type_of_room                 0.1
preferred_locator           0.05
non_smokers_only            0.01
internet                    0.05
cable_tv                    0.05
closed_terrain              0.05
monitoring_or_security      0.08
entry_phone                 0.08
antibulglar_doors_windows   0.01
alarm_system                0.03
antibulglar_blinds          0.01
dishwasher                  0.09
cooker                       0.1
fridge                       0.1
oven                        0.08
washing_machine              0.1
tv                          0.05
elevator                     0.1
phone                       0.01
AC                          0.05
garden                       0.1
bathtub                     0.03
utility_room                0.01
parking_space               0.07
terrace                     0.07
balcony                     0.07
separate_kitchen            0.05
basement                    0.05
virtual_walk                0.01
two_level_apartment         0.03
connecting_room              0.1
pet_friendly                0.01

### Statistics - show amount of empty cells

In [5]:
# round(df.isnull().sum()/len(df)*1000)/10

### Replace None and Nan with mean value or 0

In [6]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
# specify which columns to replace with mean value...
# imputer = imputer.fit(df[:, 1:3])
# df[:, 1:3] = imputer.transform(df[:, 1:3])

# ... and which replace with zero:
# df[10:14] = df.fillna(0, inplace=True)

# or replace all with zeros:
df.fillna(0, inplace=True)
# df.head()

### Select only valuable data

In [7]:
X = df.drop([
    'price',
    'parsed_fields',
    'offer_from',
    'offer_url',
    'offer_name',
    'offer_thumbnail_url',
    'offer_id',
    'offer_text',
    'creation_time',
    'modification_time',
    'city',
    'housing_type',
    'business_type',
    'pet_friendly',
    'rental_for_students',
    'non_smokers_only',
    'street'], axis=1)

X_text = X[['district',
            'apartment_level',
            'type_of_building',
            'type_of_market',
            'building_material',
            'windows',
            'heating',
            'type_of_ownership',
            'type_of_room',
            'preferred_locator',
            'fit_out']]

X_other = X[['location_latitude',
             'location_longitude',
#              'date_of_the_offer',
             'ready_from',
             'scraped_ranking',]]

X_irrelevant = X[['additional_rent',
             'building_year',
             'internet',
             'cable_tv',
             'bathtub',
             'utility_room',
             'terrace',
             'balcony',
             'separate_kitchen',
             'basement',
             'virtual_walk',
             'two_level_apartment',
             'connecting_room',
             'closed_terrain',
             'monitoring_or_security',
             'entry_phone',
             'antibulglar_doors_windows',
             'antibulglar_blinds',
             'alarm_system',
             'tv',
             'phone',
             'AC',
             'garden',
             'oven',
             'fridge',
             'cooker',
             'price_per_m2',
             'dishwasher',
             'washing_machine',
             'elevator',
             'security_deposit',]]

X = X.drop(list(X_text.columns)+list(X_other.columns)+list(X_irrelevant.columns), axis=1)
X.head()

,total_price,date_of_the_offer,furniture,area,amount_of_rooms,parking_space
0,2260.0,2019-12-22 20:29:00,1,30,2,1.0
1,3000.0,2019-12-21 11:59:00,1,50,3,0.0
2,4000.0,2019-12-22 18:17:00,1,50,2,1.0
3,2950.0,2019-12-21 18:43:00,1,32,2,1.0
4,2360.0,2019-12-22 09:44:00,1,54,2,1.0

### Scale

In [8]:
now = pd.Timestamp.now()
diff = (now - df['date_of_the_offer'])/np.timedelta64(1,'h')
X['date_of_the_offer'] = diff
min = X['date_of_the_offer'].min()
max = X['date_of_the_offer'].max()
X['date_of_the_offer'] = 1/(X['date_of_the_offer']/min)**4

In [9]:
# TODO NAPRAW SKALOWANIE WSZYSTKICH PÓL!

# def scale_uni(n):
#     return n.min()/n

# d = scale_uni(X['total_price'])
# X['total_price'] #.min()

### Evaluate scores

In [10]:
common_columns = list(X.columns)
results = np.multiply(X, weights.T[common_columns])
row_sum = np.sum(results, axis=1)
results['score'] = row_sum

### Sort by best score

In [11]:
results['offer_url'] = df['offer_url']
results = results.sort_values(by=['score'], ascending=False)

results.head()

,total_price,date_of_the_offer,furniture,area,amount_of_rooms,parking_space,score,offer_url
2,4000,0.641301,0.3,25,0.2,0.07,4026.211301,https://www.olx.pl/oferta/aktualne-ekskluzywny...
24,3960,0.686177,0.3,40,0.3,0.07,4001.356177,https://www.olx.pl/oferta/mieszkanie-80m2-supe...
35,3510,0.593212,0.3,29,0.2,0,3540.093212,https://www.olx.pl/oferta/piekne-mieszkanie-58...
28,3400,0.680357,0,27,0.3,0,3427.980357,https://www.olx.pl/oferta/mieszkanie-do-wynaje...
27,3000,0.686177,0.3,42.5,0.4,0,3043.886177,https://www.olx.pl/oferta/mieszkanie-do-wynaje...

### Eliminate Outliers

In [ ]:
def is_outlier(points, thresh=3.5):
    """
    Returns a boolean array with True if points are outliers and False 
    otherwise.

    Parameters:
    -----------
        points : An numobservations by numdimensions array of observations
        thresh : The modified z-score to use as a threshold. Observations with
            a modified z-score (based on the median absolute deviation) greater
            than this value will be classified as outliers.

    Returns:
    --------
        mask : A numobservations-length boolean array.

    References:
    ----------
        Boris Iglewicz and David Hoaglin (1993), "Volume 16: How to Detect and
        Handle Outliers", The ASQC Basic References in Quality Control:
        Statistical Techniques, Edward F. Mykytka, Ph.D., Editor. 
    """
    if len(points.shape) == 1:
        points = points[:,None]
    median = np.median(points, axis=0)
    diff = np.sum((points - median)**2, axis=-1)
    diff = np.sqrt(diff)
    med_abs_deviation = np.median(diff)

    modified_z_score = 0.6745 * diff / med_abs_deviation

    return modified_z_score > thresh

In [ ]:
def remove_outliers(x,y):
    xf = x[~np.logical_or(is_outlier(x), is_outlier(y))]
    yf = y[~np.logical_or(is_outlier(x), is_outlier(y))]
    return xf, yf

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(15, 3), dpi= 80, facecolor='w', edgecolor='b')

plt.subplot(121)
x1=X['amount_of_rooms']
y1=X['total_price']
x1, y1 = remove_outliers(x1,y1)
plt.title("amount_of_rooms")
plt.xlabel('total_price')
plt.ylabel('total_price')
# calc the trendline
p1 = np.poly1d(np.polyfit(x1, y1, 3))
t1 = np.linspace(np.amin(x1), np.amax(x1), 200)
plt.plot(x1, y1, '.', t1, p1(t1), '-')

plt.subplot(122)
x2=X['area']
y2=X['total_price']
x2, y2 = remove_outliers(x2,y2)
plt.title("Area vs price")
plt.xlabel('area')
plt.ylabel('price')
p2 = np.poly1d(np.polyfit(x2, y2, 3))
t2 = np.linspace(np.amin(x2), np.amax(x2), 200)
plt.plot(x2, y2, '.', t2, p2(t2), '-')

plt.show()

In [ ]:
# import seaborn as sns

# sns.set(style="ticks", color_codes=True)
# iris = sns.load_dataset("iris")
# g = sns.pairplot(iris)

# df = pd.DataFrame(dict(time=np.arange(500),
#                        value=np.random.randn(500).cumsum()))
# g = sns.relplot(x="time", y="value", kind="line", data=df)
# g.fig.autofmt_xdate()

# plt.show()

# sns.lmplot("equipment", "price", data=filtered_class, hue="gears", fit_reg=False, col='modelLine', col_wrap=2)

### Feature Scaling

In [ ]:
# TODO IMPROVE SCALING! 
# obecnie jest blad ze nie zwraca w zakresie o-1 tylko np. -5.5-0.2

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler(with_std=True)

X_numeric_sc = scaler.fit_transform(X_numeric)
temp = pd.DataFrame(data = X_numeric_sc, columns = X_numeric.columns)
temp.head()

### Encode labels for categorical data - text into numbers

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()

X[:,0] = labelencoder_X.fit_transform(X[:,0])

# enc = OneHotEncoder(categorical_features = [0])
# X = enc.fit_transform(X).toarray()

### Dispatch dependent matrix and independent vector

In [ ]:
# # https://towardsdatascience.com/the-complete-beginners-guide-to-data-cleaning-and-preprocessing-2070b7d4c6d

# import matplotlib.pyplot as plt
# from sklearn.model_selection import train_test_split
# # from sklearn.cross_validation import train_test_split

# # Matrix of dependent variables:
# X = df.drop(['price', 'parsed_fields', 'offer_from', 'offer_url', 'offer_name', 'offer_thumbnail_url', 'offer_id', 'offer_text', 'creation_time', 'modification_time', 'street'], axis=1)
# X.head()
# # X=X.values

# # #vector of independent variables:
# # y = df.loc[:, ['price']]
# # y=y.values
# # X

### Split dataset into train set and test set

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)